{% extends "base.html" %}
{% block title %}
Nuevo Vehiculo
{% endblock %}

{% block content %}
<h2 align="center"> Agregar Nuevo Vehiculo </h2>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="/inicio/" class="btn btn-danger">Cancelar</a>
        </form>
    </div>

</div>




<a class="btn btn-info" href="/login/">Regresar</a>
{% endblock %}